<!DOCTYPE html>
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>main page</title>
    {% load staticfiles %}
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    {% load staticfiles %}
    <link href="{% static "css/MyCss.css" %}" rel="stylesheet">
</head>
<body>
 <!-- судя по всему, навигационный бар прилепляется в верху окна и, как следствие, места не занимает-->
    <nav class="navbar navbar-inverse navbar-fixed-top"> <!-- классы бутстрапа для закрепленного наверху меню, навбар, сделать его черным, закрепить сверху--->
        <div class="container"> <!-- тоже класс бутстрапа, нужен чтобы кнопки и логотип не липли к краям-->
            <a class="navbar-brand" href="#"> <p> To the main page  </p> </a> <!-- класс со шрифтом, размером и цветом подписи-->
            <div id="navbar" class="navbar-collapse collapse">
              <div class="navbar-form navbar-right"> <!-- -->
                <button type="submit" class="btn btn-success">Log in</button>
                <button type="submit" class="btn btn-info">Registration</button>
              </div>
            </div>
        </div>
    </nav>

    <div class="container under-nav-bar-place-holder"></div>


    <!-- потом надо не забыть выкинуть из цсс все ненужно - там куча мусора-->
    <div class="col-md-9"> <!-- левый столбец на странице, под всякое разное - фильмы, регистрации авторизации и прочая -->

        {% block content %} {% endblock %}

    </div><!--конец левого столбца-->

    <div class ="col-md-3"> <!-- столбец под всякое другое - например, под последние 5 комментариев -->
        <h2>Last comments</h2> <!--ну или не 5-->
{% for comment in last_comments %}
        <div class="thumbnail">
             <a>
                 <h3>{{comment.film_title}}</h3>
                 <h4>{{comment.text_part}}</h4>
            </a>
        </div>
{%  endfor %}
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    {% load staticfiles %}
    <script src="{% static "js/jquery.min.js" %}"></script>
    {% load staticfiles %}
    <script src="{% static "js/bootstrap.min.js" %}"></script>
</body>