<!DOCTYPE html>
{% extends "basis.html" %}
{% block content %}
		<div class="col-md-11">
		<h2 class="my-lead">{{film_card.title}}  </h2>
					 </div>
			<div class = "col-md-1"><button>edit card</button></div>

		<div>
		<div class="col-md-5">
			<img src="http://lorempixel.com/300/400/">
			<h3><span>Rating : </span> <span>{{film_card.rating}}</span></h3>
		</div>
		<div class="col-md-7">
			<div class="panel panel-default">
			<!-- Default panel contents -->
			  <!-- Table -->
			  	<table class="table">
					<tr> <td> Title <td> {{film_card.title}} <td> </tr>
					<tr> <td> Producer <td> {{film_card.producer}} <td></tr>
					<tr> <td> Country <td> {{film_card.country}} <td></tr>
					<tr> <td> Premiere <td> {{film_card.premiere}} <td></tr>
				</table>
			</div>
			<h3>Description:</h3>
			<span>{{film_card.description}}</span>
			</div>
			</div>
		<div class="divider"> </div>
		<div><h2>Comments</h2></div>


{% for comment in comments %}
		<div class="col-md-{{comment.level}} "> </div> <!--ответ на первый комментарий-->
        <div class="col-md-{{comment.reverse_level}}"> <!--один комментарий-->
            <div class="thumbnail col-md-12">
                <div class="col-sm-3 col-md-2">
                    <div class="film-preview">
                        <img src="http://lorempixel.com/80/80/" class="img-circle">
                    </div>
                </div> 
                <div class = "col-sm-9 col-md-10">
                    <div>
                        <h3>{{comment.username}}</h3>
                    </div>
                    <div>
                        <h4>{{comment.text}}</h4>
                    </div>
					<div class="button-group">
						<button>Answer!</button>
						<button>Edit</button>
					</div>
                </div>
            </div>
		</div><!--конец комментария-->
{% endfor %}

		<div class="col-md-12">
			<div class="input-group comment-wrapper">
				<textarea id="comment" name="comment" placeholder="Enter your comment here" class="comment-iput-field" rows = "4" ></textarea>
			</div>					 		 
			<button type="submit" class="btn btn-lg btn-success">Answer!</button>	 
		</div>

{% endblock %}
